.aboutUs-section-first {
  background-image: linear-gradient(
      102.76deg,
      rgba(18, 18, 17, 0.78) 2.03%,
      rgba(18, 18, 17, 0.6) 58.46%,
      rgba(18, 18, 17, 0) 90.36%
    ),
    url("./pexels-photo-1267307.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
.aboutUs-title {
  font-size: 3em;
  text-align: center;
  margin: 60px auto;
  color: white;
  max-width: 800px;
}
.aboutUs-img {
  width: 100%;
  border-radius: 20px;
}

@media (max-width: 600px) {
  .img-block {
    display: none;
  }
  .aboutUs-section-second .container {
    padding-bottom: 0;
    text-align: justify;
  }
  .aboutUS-section-third .container {
    padding: 0 24px;
    text-align: justify;
  }
  .aboutUs-title {
    font-size: 1.3em;
  }
}
